# https://docs.npmjs.com/misc/developers

# Default ignored.
# .*.swp
# ._*
# .DS_Store
# .git
# .hg
# .npmrc
# .lock-wscript
# .svn
# .wafpickle-*
# config.gypi
# CVS
# npm-debug.log

.idea
yarn-error.log
yarn.lock
preview.gif
